<div id="chartContainer" class="oj-flex oj-sm-justify-content-center">
  <oj-bind-if test="[[dataProvider().data.length > 0]]">
    <oj-chart id="pieChart"
      type="pie"
      data="[[dataProvider]]"
      animation-on-display="auto"
      animation-on-data-change="auto"
      hover-behavior="dim"
      style="max-width:500px;width:100%;height:200px;">
        <template slot='itemTemplate' data-oj-as='item'>
          <oj-chart-item
            value='[[item.data.value]]'
            group-id='[[ [item.data.group] ]]'
            series-id='[[item.data.series]]'>
          </oj-chart-item>
        </template>
    </oj-chart>
  </oj-bind-if>
</div>