<oj-button on-oj-action="[[onHandleClick]]">
  <span slot="endIcon" class="oj-button-icon oj-start oj-navigationlist-previous-icon oj-component-icon oj-clickable-icon-nocontext"></span>
</oj-button>
<div class="header">
  <h2 class="oj-header-border">Pokemon details</h2>
</div>
<div class="oj-flex details">
  <div class="details-left">
    <div class="oj-panel oj-panel-alt4 oj-sm-margin-2x custom-panel">
      hello
    </div>
  </div>
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex oj-sm-flex-direction-column">
      <div class="oj-flex-item">
        <oj-label for="isChecked">Pokemon is checked: </oj-label>
        <oj-input-text id="isChecked" value="[[isChecked]]" disabled></oj-input-text>
      </div>
      <div class="oj-flex-item">
        <oj-label for="weight">weight: </oj-label>
        <oj-input-text id="weight" value="[[weight]]" disabled></oj-input-text>
      </div>
      <div class="oj-flex-item">
        <oj-label for="height">height: </oj-label>
        <oj-input-text id="height" value="[[height]]" disabled></oj-input-text>
      </div>
      <div class="oj-flex-item">
        <oj-label for="name">name: </oj-label>
        <oj-input-text id="name" value="[[name]]" disabled></oj-input-text>
      </div>
    </div>
  </div>
</div>