<div>
  <oj-button on-oj-action="[[onHandleClick]]" chroming="borderless" class="oj-navigationlist-previous-button">
    <span slot="endIcon" style="color: black;" class="oj-navigationlist-previous-icon oj-component-icon">back</span>
  </oj-button>
  <div class="header">
    <h2 class="oj-header-border">Pokemon details</h2>
  </div>
  <div class="oj-flex details">
    <div class="oj-panel oj-panel-alt1 oj-sm-margin-4x oj-panel-shadow-sm details-left">
      <div class="oj-flex oj-sm-flex-direction-column oj-sm-align-items-center">
        <img alt="pokemon" class="image-pokemon oj-icon" data-bind="attr: {src: getUrlImage()}"></img>
        <h2>
          <oj-bind-text value="[[name]]"></oj-bind-text>
        </h2>
      </div>
    </div>
    <div class="oj-flex oj-flex-items-pad oj-panel oj-panel-shadow-sm oj-sm-margin-2x details-right">
      <div class="oj-flex oj-sm-flex-direction-column">
          <div class="oj-flex oj-sm-align-items-center">
            <oj-label for="weight">Weight: </oj-label>
            <oj-input-text id="weight" value="[[weight]]" style="max-width: none;" disabled></oj-input-text>
          </div>
          <div class="oj-flex oj-sm-align-items-center">
            <oj-label for="height">Weight: </oj-label>
            <oj-input-text id="height" value="[[height]]" style="max-width: none;" disabled></oj-input-text>
          </div>
          <div class="oj-flex oj-sm-align-items-center">
            <oj-label for="name">Name: </oj-label>
            <oj-input-text id="name" value="[[name]]" style="max-width: none;" disabled></oj-input-text>
          </div>
          <div class="oj-flex oj-sm-align-items-center">
            <oj-label for="name">Number of moves: </oj-label>
            <oj-input-text id="name" value="[[numberOfMoves]]" style="max-width: none;" disabled></oj-input-text>
          </div>
          <div class="oj-flex oj-sm-align-items-center">
            <oj-label for="isCheckedDetail">Pokemon is checked? </oj-label>
            <oj-checkboxset id="isCheckedDetail" value="[[isChecked]]" disabled>
              <oj-option id="isCheckedDetail1" value="checked"></oj-option>
            </oj-checkboxset>
          </div>
          <oj-table
            aria-label="Pokemon types"
            data="{{dataProvider}}"
            columns="[[columns]]"
            style="background-color: white;">
          </oj-table>
      </div>
    </div>
  </div>
</div>